.footer{
    position: static;
    bottom: 0px;
    width: 100%;
    background: #111;
    color: white;
    margin-top: 100px;
}
.main-content{
    display: flex;
}

.main-content .box{
    flex-basis: 50%;
}

.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 20px;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content::before{
    position: absolute;
    content: '';
    height: 2px;
    top: -10px;
    width: 90%;
    background: #1a1a1a;
}
.box .content::after{
    position: absolute;
    content: '';
    height: 2px;
    top: -10px;
    width: 15%;
    background: #f12020;
}
.left .content p{
    text-align: justify;
    padding-right: 1rem;
    padding-left: 1rem;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a.sociala span{
    height: 40px;
    width: 40px;
    color: #fff;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #f12020;
}

.center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover{
    background: #f12020;
}

.center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone{
    margin: 10px 0;
}

.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}
.right from .msg{
    margin-top: 10px;
}
.right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background-color: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
}
.right form input {
    height: 35px;
    background-color:#151515;
    width: 100%;
    font-size: 1.0625rem;
    padding-left: 10px;
    border: 1px solid #222222;
}
.right from input:focus{
    outline-color: #3498db;
} 
.right form textarea:focus{
    outline-color: #3498db;
}
.right form .btn {
    margin-top: 10px;
}

.right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    color: #fff;
}

.right form .btn button:hover{
    background: #000;
}
.bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}
.bottom center span {
    color: #656565;
}

.bottom center a {
    color: #f12020;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width:900px) {
    footer{
        bottom: 0px;
        position: relative;
    }
    .main-content{
        flex-grow: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}